[submodule "deps/bc-crypto-base"]
	path = deps/bc-crypto-base
	url = https://github.com/BlockchainCommons/bc-crypto-base.git
[submodule "deps/bc-shamir"]
	path = deps/bc-shamir
	url = https://github.com/blockchaincommons/bc-shamir.git
[submodule "deps/bc-bip39"]
	path = deps/bc-bip39
	url = https://github.com/blockchaincommons/bc-bip39.git
[submodule "deps/argp-standalone"]
	path = deps/argp-standalone
	url = https://github.com/BlockchainCommons/argp-standalone.git
	ignore = dirty
[submodule "deps/cbor-lite"]
	path = deps/cbor-lite
	url = https://github.com/blockchaincommons/cbor-lite.git
[submodule "deps/bc-ur"]
	path = deps/bc-ur
	url = https://github.com/BlockchainCommons/bc-ur.git
[submodule "deps/bc-sskr"]
	path = deps/bc-sskr
	url = https://github.com/BlockchainCommons/bc-sskr.git
