[submodule "deps/bc-crypto-base"]
	path = deps/bc-crypto-base
	url = https://github.com/BlockchainCommons/bc-crypto-base.git
[submodule "deps/bc-shamir"]
	path = deps/bc-shamir
	url = https://github.com/blockchaincommons/bc-shamir.git
[submodule "deps/bc-slip39"]
	path = deps/bc-slip39
	url = https://github.com/blockchaincommons/bc-slip39.git
[submodule "deps/bc-bip39"]
	path = deps/bc-bip39
	url = https://github.com/blockchaincommons/bc-bip39.git
[submodule "deps/bc-bech32"]
	path = deps/bc-bech32
	url = https://github.com/blockchaincommons/bc-bech32.git
[submodule "deps/argp-standalone"]
	path = deps/argp-standalone
	url = https://github.com/BlockchainCommons/argp-standalone.git
